<!-- main app container -->

  <div class="container ">
    <div class="img-logo">
      <img src="/assets/logo.png" class="logo">
    </div>
    
      <div class="row">
          <div class="col-md-6 offset-md-3">
            
              <form class="form-block" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h3 style="text-align: center;">Client registration form</h3>
                <!-- <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </div>
                  <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                </div> -->
                  <div class="form-group">
                      <!-- <label>First Name</label> -->
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                      <input type="text" formControlName="clientFirstName" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.clientFirstName.errors }" />
                      <div *ngIf="submitted && f.clientFirstName.errors" class="invalid-feedback">
                          <div *ngIf="f.clientFirstName.errors.required">First Name is required</div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <!-- <label>Last Name</label> -->
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                      <input type="text" formControlName="clientLastName" class="form-control" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.clientLastName.errors }" />
                      <div *ngIf="submitted && f.clientLastName.errors" class="invalid-feedback">
                          <div *ngIf="f.clientLastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  </div>
                  <div class="form-group">
                    <!-- <label>User Name</label> -->
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                      </div>
                    <input type="text" formControlName="clientUserName" class="form-control" placeholder="User Name" [ngClass]="{ 'is-invalid': submitted && f.clientUserName.errors }" />
                    <div *ngIf="submitted && f.clientUserName.errors" class="invalid-feedback">
                        <div *ngIf="f.clientUserName.errors.required">User Name is required</div>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                  <!-- <label>User Name</label> -->
                  <div class="input-group">

                    <label class="md-check mr-2">
                      <input type="radio" value="male" name="gender" formControlName="gender">
                      Male
                    </label>
                    <label class="md-check">
                      <input type="radio" value="female" name="gender" formControlName="gender">
                      Female
                    </label>
                  </div>
              </div>


                  <div class="form-group">
                      <!-- <label>Email</label> -->
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                      <input type="text" formControlName="clientEmail" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.clientEmail.errors }" />
                      <div *ngIf="submitted && f.clientEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.clientEmail.errors.required">Email is required</div>
                          <div *ngIf="f.clientEmail.errors.email">Email must be a valid email address</div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <!-- <label>Phone number</label> -->
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </div>
                    <input type="text" formControlName="clientPhoneNumber" class="form-control checkbox" placeholder="Phone number" [ngClass]="{ 'is-invalid': submitted && f.clientPhoneNumber.errors }" />
                    <div *ngIf="submitted && f.clientPhoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.clientPhoneNumber.errors.required">Phone Number is required</div>
                    </div>
                    </div>
    
                </div>
                  <div class="form-group">
                    <!-- <label>Company address</label> -->
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-building" aria-hidden="true"></i>
                      </div>
                    <input type="text" formControlName="clientCompanyName" class="form-control" placeholder="Company name" [ngClass]="{ 'is-invalid': submitted && f.clientCompanyName.errors }" />
                    <div *ngIf="submitted && f.clientCompanyName.errors" class="invalid-feedback">
                        <div *ngIf="f.clientCompanyName.errors.required">Company name is required</div>
                    </div>
                    </div>
                </div>
                  <div class="form-group">
                   
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </div>
                    <input type="text" formControlName="countryName" class="form-control" placeholder="Country" [ngClass]="{ 'is-invalid': submitted && f.countryName.errors }" />
                    <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
                        <div *ngIf="f.countryName.errors.required">Country name is required</div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                  <!-- <label>Company address</label> -->
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                  <input type="text" formControlName="stateName" class="form-control" placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.stateName.errors }" />
                  <div *ngIf="submitted && f.stateName.errors" class="invalid-feedback">
                      <div *ngIf="f.stateName.errors.required">State name is required</div>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                <!-- <label>Company address</label> -->
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                <input type="text" formControlName="city" class="form-control" placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">City is required</div>
                </div>
                </div>
            </div>
            <div class="form-group">
              <!-- <label>Company address</label> -->
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
              <input type="text" formControlName="pincode" class="form-control" placeholder="Pin code" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
              <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                  <div *ngIf="f.pincode.errors.required">Pincode is required</div>
              </div>
              </div>
          </div>
          <div class="form-group">
            <!-- <label>Company address</label> -->
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-map" aria-hidden="true"></i>
              </div>
            <input type="text" formControlName="addressline1" class="form-control" placeholder="Address line 1" [ngClass]="{ 'is-invalid': submitted && f.addressline1.errors }" />
            <div *ngIf="submitted && f.addressline1.errors" class="invalid-feedback">
                <div *ngIf="f.addressline1.errors.required">Address line is required</div>
            </div>
            </div>
        </div>
        <div class="form-group">
          <!-- <label>Company address</label> -->
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-map" aria-hidden="true"></i>
            </div>
          <input type="text" formControlName="addressline2" class="form-control" placeholder="Address line 2" [ngClass]="{ 'is-invalid': submitted && f.addressline2.errors }" />
          <!-- <div *ngIf="submitted && f.addressline2.errors" class="invalid-feedback">
              <div *ngIf="f.addressline2.errors.required">Company address is required</div>
          </div> -->
          </div>
      </div>
      
                <div class="form-group">
                  <!-- <label>Allies Name</label> -->
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                  <input type="text" formControlName="clientAlliesName" class="form-control" placeholder="Allias Name" [ngClass]="{ 'is-invalid': submitted && f.clientAlliesName.errors }" />
                  <div *ngIf="submitted && f.clientAlliesName.errors" class="invalid-feedback">
                      <div *ngIf="f.clientAlliesName.errors.required">Allies Name is required</div>
                  </div>
                  </div>
              </div>
              <!-- <div class="form-group">
                
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                <input type="text" formControlName="clientPhoneNumber" class="form-control checkbox" placeholder="Phone number" [ngClass]="{ 'is-invalid': submitted && f.clientPhoneNumber.errors }" />
                <div *ngIf="submitted && f.clientPhoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.clientPhoneNumber.errors.required">Phone Number is required</div>
                </div>
                </div>

            </div> -->
            <!-- <div class="form-group">
              
              <input type="checkbox" formControlName="liginWithSSO"/>
              <span class="checkbox-label">Login with sso</span>
          </div> -->
          <div class="form-group form-check">
            <input type="checkbox" formControlName="loginWithSSO" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Login with sso</label>
          </div>
                  <div class="form-group">
                      <button class="btn">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>


